<h1>Marvel Vs. DC</h1>
<a href="/comic/new"> <button>Create Comic</button></a>
<ul>
    {{#each allComics}}
    <a href="/comic/{{_id}}">{{name}}</a>
    <h3>{{employees}}</h3>
    <h3>{{currentlyOpen}}</h3>
    {{/each}}
</ul>