<form method="POST" action="/comics">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <label for="comicName">Name</label>
  <input type="text" value="" placeholder="name" name="name" id="comicName" />
  <label for="comicUniverse">Universe</label>
  <input type="text" value="" placeholder="universe" name="universe" id="universe" />
  <label for="comicDescription">Description</label>
  <input type="text" name="description" value="" id="comicDescription" />
  <label for="comicAppearance">First Appearance</label>
  <input type="text" name="firstAppearance" value="" id="comicAppearance" />
  <input type="text" name="pic" value="" id="comicPic">
  <input type="submit" value="Create Comic" />
</form>