* {
  margin: 0, auto;
  padding: 0;
}
html {
  background: url("http://media.comicbook.com/2018/02/marvel-vs-dc-twitter-trending-topic-2018-1079944.jpeg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  margin-right: 10.5rem;
}
body {
  font-family: "NFL Dolphins";
  color: gold;

  text-align: center;
  font-size: 3em;
  display: block;
  margin: auto;
}

a {
  color: gold;
  margin: auto;
}

button {
  margin: auto;
  margin-top: 1em;
  display: block;
  font-family: "NFL Dolphins";
  padding: 1em;
  border-radius: 3px;
  background-color: gold;
  border: 1px solid black;
}
button :hover {
  background-color: navy;
}
img {
  width: 30rem;
  border: 10px solid whitesmoke;
}
.register {
  font-size: 0.25em;
}
.head {
  padding-left: 10rem;
}
.marvel {
  padding-right: 5rem;
}
/* .headpic {
  height: 28rem;
} */
.description {
  font-size: 0.75em;
  width: 50%;
  margin: 0 auto;
  color: black;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
}
ul,
.single-head,
h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.answers {
  color: black;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
}
.wrapper {
  display: flex;
}
.flex {
  display: flex;
  padding: 50%, 0, 50%, 5em;
}
.comic-description {
  display: flex;
  flex-wrap: wrap;
}
