<div class="home-background background-h">

    <div class="single-head home1"> <a href="/comic">Characters</a>

    </div>
    <div class="single-head home2"><a href="/creator">Creators</a> </div>
    <div class="single-head home3"><a href="/universe">Universes</a></div>

</div>

{{!-- https://mlpnk72yciwc.i.optimole.com/w:350/h:350/q:auto/rt:fill/g:ce/https://www.bleedingcool.com/wp-content/uploads/2019/06/1024px-dc_bullet_svg.svg.png --}}
{{!-- https://ak4.picdn.net/shutterstock/videos/4336874/thumb/1.jpg --}}