<div class="home-background">
    <h1><span class="marvel ">Marvel</span> Vs <span class="head"> DC</span></h1>
    <div class="home-background">

        <a href="/comic">
            <div class="centered home1">Characters</div>
        </a>
        <a href="/creator">
            <div class="centered home2">Creators</div>
        </a>
        <a href="/universe">
            <div class="centered home3">Universes</div>
        </a>
    </div>
</div>