<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<form method="POST" action="/universe">

    <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <label class="single-head" for="universe">Universe</label>
    <input class="input-box" type="text" value="" placeholder="universe" name="universe" id="universe" />
    <label class="single-head" for="universeDescription">Description</label>
    <input class="input-box" type="text" value="" placeholder="description" name="description" id="description" />
    <label class="single-head" for="universeCharacters">Characters</label>
    <input class="input-box" placeholder="characters" type="text" name="characters" value="" id="universeCharacters" />
    <br><br><br><br>
    <label class="single-head" for="universePic">Picture</label>
    <input class="input-box" type="text" placeholder="link" name="pic" value="" id="universePic">
    <br><br>
    <input class="create-btn" type="submit" value="Create Universe" />
</form>