<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<form method="POST" action="/universe{{singleUniverse._id}}?_method=PUT"></form>">

<!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
<label for="universeName">Universe</label>
<input type="text" value="" placeholder="name" name="universe" id="universeName" />
<label for="universeDescription">Description</label>
<input type="text" value="" placeholder="description" name="universe" id="description" />
<label for="universeCharacters">Characters</label>
<input type="text" name="characters" value="" id="universeCharacters" />
<label for="universePic">Picture</label>
<input type="text" name="pic" value="" id="universePic">
<input type="submit" value="Create Universe" />
</form>